{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
	<title>Story 9</title>
</head>
<nav class="navbar fixed-top navbar-expand-lg navbar-light scrolling-navbar">
    <div class="collapse navbar-collapse" id="mainNavBar">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'main:home' %}">Home</a></li>
        </ul>

        {% if request.user.is_authenticated %}
        <ul class="navbar-nav navbar-right">
            <li style="margin-right:20px"><a href="#"><span class="glyphicon "></span> Hi {{ request.user.first_name }} {{ request.user.last_name }}</a></li>
            <li style="margin-right:100px"><a href="{% url 'main:logout' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            <!--<li style="margin-right:100px"><a href="/admin/logout/?next=/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>-->
        </ul>

        {% else %}
        
        <ul class="navbar-nav navbar-right">
            <li style="margin-right:20px"><a href="{% url 'main:signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li style="margin-right:100px"><a href="{% url 'main:login' %}"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>
            <!--<li style="margin-right:100px"><a href="/admin/login/?next=/"><span class=" glyphicon glyphicon-log-in"></span> Login</a></li>-->
        </ul>
    	
        {% endif %}
    </div>
</nav>
{% block content%}

{% endblock content %}
</html>
